.admin-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
    cursor: default;
}

.system-notice {
    .his-post {
        background-color: #ffffff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;

        .his-post-titles {
            margin: 0.5rem 0;

            .his-post-title {
                text-align: center;
                font-weight: bold;
                font-size: 1.1rem;
            }
        }

        .his-post-list {
            .his-post-cotents {
                color: #000000;

                .his-post-cotent {
                    margin: 0.5rem 0;
                    text-align: center;
                    font-size: 1rem;
                }
            }

            .his-post-cotents:hover {
                border-radius: 5px;
                border: 1px solid #d9d9d9;
                cursor: pointer;
            }
        }
    }

    .new-post {
        background-color: #ffffff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;

        .switch-target {
            text-align: center;
        }

        .post {
            text-align: center;
        }
    }
}

.system-notice-history {
    .system-notice-history-card {
        background-color: #ffffff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;

        .system-notice-history-content {
            margin: 1rem;
        }

        .switch-target {
            text-align: center;
        }

        .post {
            text-align: center;
        }

        .ant-btn {
            margin: 1rem;
        }
    }
}

.auth-manage {
    .ant-form-item {
        margin: 0;
    }
}

.func-manage {
    height: 100%;
}

.func-header {
    display: flex;
    justify-content: space-between;
    position: relative;

    .card {
        padding: 1rem;

        .btn {
            text-decoration: none;
            color: #000000;
            background-color: #ffffff;
            padding: 1rem 2rem;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }
    }
}


.func-mettingd {
    position: relative;
}

.func-mettingdetail {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;

    .mettingdetail-list {
        margin: 0.5rem;

        .mettingdetail-list-title {
            font-weight: bold;
        }
    }
}

.account-card {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 30px;
    min-height: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    cursor: default;

    a {
        text-decoration: none;
        color: #000000;
    }
}