.dashboard-title {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: default;

    .dashboard-title-message {
        margin: 0 0.5rem;

    }

}

.ant-card-body {
    padding: 1rem 1.3rem;
    min-height: 160px;

    p {
        margin: 0 0 0.5rem 0;
    }
}

.join-time {
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

.dashboard-bold {
    font-weight: bold;
    margin: 0;
}


.dashboard-explain {
    color: #a5a5a5;
}

.dashboard-to-report {
    color: #00A1E9;
}

.dashboard-commit-status-not {
    color: orange;
}

.dashboard-commit-status-yes {
    color: green;
}

.admin-home {
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    .admin-home-card,
    ::selection {
        color: #000000;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        font-size: 1.5rem;
        background-color: #ffffff;
        border-radius: 5px;
        cursor: default;
    }

    .admin-home-card:hover {
        cursor: pointer;
    }
}

.dashboard-mission-card {
    background-color: #ffffff;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .dashboard-mission-title {
        font-size: 1.15rem;
        font-weight: bold;
        max-width: 50%;
        overflow: hidden;
    }

    .dashboard-mission-right {
        display: flex;
        flex-direction: row;

        .dashboard-mission-btns {
            margin: 1rem 1.5rem;

            .ant-btn {
                margin: 0 0.5rem;
            }
        }

        .dashboard-mission-progress {
            cursor: pointer;
            width: 180px;
            text-align: center;

            p {
                margin: 0;
            }

            .ant-progress {
                margin: 0.5rem 0;
            }
        }

        .ant-statistic-content-value {
            font-size: 1rem;
        }
    }
}


#admin-panel {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: fixed;
    color: black;
    left: 100px;
    bottom: 100px;
    z-index: 10;
}

#admin-panel-menu {
    z-index: 3;
    position: relative;
    background: #AAAAAA;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    top: -40px;
    left: -40px;
    overflow: hidden;
    transition: all .3s;
    transform: scale(0.5) rotate(270deg);

}

.admin-panel-icon {
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
    z-index: 20;
    background-color: #AAAAAA;
    border: 1px solid #ffffff;
    border-radius: 100%;
    left: 2px;
    top: 44px;
    cursor: pointer;
    transition: all .3s;
}

.a,
.b,
.c,
.d {
    position: absolute;
    font-size: 25px;
    opacity: 0;
}

.a {
    top: 5px;
    left: 50px;
}

.b {
    top: 45px;
    left: 10px;
}

.c {
    bottom: 5px;
    left: 50px;
}

.d {
    top: 45px;
    right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

#admin-panel-trans{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: fixed;
    color: black;
    left: 100px;
    bottom: 100px;
    z-index: 10;
}

#admin-panel-trans>#admin-panel-menu {
    transform: scale(1);
    transform: rotate(0);
}

#admin-panel-trans>#admin-panel-menu span {
    opacity: 1;
}

#admin-panel-trans>.admin-panel-icon {
    transform: rotate(20deg);
}

#admin-panel-trans>.admin-panel-icon:before,
#admin-panel-trans>.admin-panel-icon:after {
    background: #4C8BCA;
}