.dashboard-title {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;

    .dashboard-title-message {
        margin: 0 0.5rem;

    }

}

.join-time{
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

.dashboard-bold{
    font-weight: bold;
}