.dashboard-title {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;

    .dashboard-title-message {
        margin: 0 0.5rem;

    }

}

.ant-card-body{
    padding: 1rem 1.3rem;
    min-height: 160px;
    p{
        margin: 0 0 0.5rem 0;
    }
}

.join-time {
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

.dashboard-bold {
    font-weight: bold;
    margin: 0;
}


.dashboard-explain {
    color: #a5a5a5;
}

.dashboard-to-report {
    color: #00A1E9;
}

.dashboard-commit-status-not {
    color: orange;
}

.dashboard-commit-status-yes {
    color: green;
}