body {
    font-family: "Montserrat", "Avenir Next", "Avenir", "Segoe UI", "Hiragino Sans GB", "Hiragino Sans GB W3", "PingFang SC", "Microsoft Yahei", "SimHei", "SimKai", sans-serif;
}

.AppHeight{
    min-height: 100vh;
    height: auto !important;
}

.App {
    min-height: 100vh;
    .logo {
        display: flex;
        justify-content: center;
        color: #45484e;
        line-height: 40px;
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0.75rem 0;
        cursor: default;
    }

    .header-background {
        background: #fff;
        color: #45484e;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 20px #e9e9e9;

        .panel-admin {
            display: flex;
            justify-content: space-between;
            width: 100%;

        }

        .panel-admin-home {
            margin: 1rem;
        }

        .panel-user {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .trigger {
            margin: 1rem;
        }

        .logout {
            margin: 1rem;
            color: #45484e;
            font-size: 1.1rem;
        }

        .noti-button {
            margin: 1rem;
            color: #45484e;
            font-size: 1.1rem;
        }
    }

    .content-background {
        background: #fff;

    }

    footer {
        display: flex;
        justify-content: center;
        color: white;

    }
}