.editreport-title {
    font-size: 1.5rem;
    font-weight: bold;

    .md-rule {
        color: #a9a9a9;
        font-size: 1rem;
        margin: 0.5rem;
    }
}

.weekreport-md-container {
    height: 100%;
}

.rc-md-editor {
    min-height: 500px !important;
}

.editreport-tips {
    font-size: 0.8rem;
    color: #a9a9a9;
}

.editreport-btn-group {
    display: flex;
    justify-content: flex-end;

    .editreport-btn {
        margin: 0.5rem;
    }
}

.work-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
    cursor: default;
}

.work-newmeeting {
    z-index: 99;
    text-emphasis: none;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #a9a9a9;
    padding: 0.5rem;
    width: 8rem;
    margin-left: -4rem;
    left: 50%;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 1rem;
    letter-spacing: 0.2rem;
}

.work-newmeeting:hover {
    color: #ffffff;
    background-color: #89C997;
}

.work-space {
    display: flex;
    justify-content: space-between;

    .work-space-card,
    ::selection {
        color: #000000;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        background-color: #ffffff;
        cursor: pointer;

    }

    .work-space-card {
        span {
            font-size: 1.3rem;
            margin: 0.5rem auto;
        }

    }
}

.sign-card {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    .sign-card-t1 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;
    }

    .sign-card-psw {
        border-radius: 20px;
    }

    .sign-card-t2 {
        margin-top: 4rem;
        color: #a9a9a9;
        text-align: center;
    }

    .sign-card-btns {
        display: flex;
        justify-content: center;

        .sign-card-btn {
            margin: 1rem;
            height: 6rem;
            width: 6rem;
            border: 5px solid #ffffff;
            background: #89C997;
            color: #ffffff;
            font-weight: bold;
            font-size: 1.3rem;
        }
    }
}

.sign-card-failed {
    background-color: #F56C6C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    .sign-card-icon {
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    p {
        color: #ffffff;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        margin: 0.5rem;
    }

    .sign-card-back {
        cursor: pointer;
        margin: 0 auto;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        line-height: 3.75rem;
        margin-top: 2rem;
        color: #F56C6C;
        background-color: #ffffff;
        width: 9.4rem;
        height: 3.75rem;
        border-radius: 43px;
    }
}


.sign-card-succeed {
    background-color: #89C997;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    .sign-card-icon {
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    p {
        color: #ffffff;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        margin: 0.5rem;
    }

    h4 {
        color: #ffffff;
        font-size: 1.3rem;
        text-align: center;
        margin: 0.5rem;
    }

    .sign-card-back {
        cursor: pointer;
        margin: 0 auto;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        line-height: 3.75rem;
        margin-top: 2rem;
        color: #89C997;
        background-color: #ffffff;
        width: 9.4rem;
        height: 3.75rem;
        border-radius: 43px;
    }
}

.work-tabs {
    margin-bottom: 2rem;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 20px #D9D9D9;

    .no-more {
        text-align: center;
        color: rgb(134, 134, 134);
        font-size: 0.8rem;
    }

    .ant-tabs-nav {
        width: 100%;
        background-color: #ffffff;

        .ant-tabs-tab {
            width: 50%;
            text-align: center;
            border-radius: 5px 5px 0 0;
            color: #7D7D7D;
            font-size: 0.8rem;
        }
    }

    .work-tab-titles {
        margin: 0 2rem;

        .work-tab-title {
            text-align: center;
            margin: 0.5rem 0;
        }
    }


    .work-tab-list {
        .work-tab-item {
            background: #ffffff;
            text-align: center;
            margin: 1rem 2rem;
            border-radius: 15px;
            line-height: 2.5rem;

            a {
                color: #000000;
            }

            a:hover {
                font-weight: bold;
            }
        }
    }
}

.meeting-card {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;

    .meeting-card-title {
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .meeting-card-time {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .meeting-card-detail {
        display: flex;
        flex-wrap: wrap;
        padding: 0 2rem;

        p {
            text-align: center;
            font-size: 1rem;
            width: 50%;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .meeting-card-desc {
        text-align: center;
        padding: 0 2rem;
        width: 100%;
    }

    .meeting-card-btns {
        text-align: center;
        display: flex;
        justify-content: center;

        .meeting-card-btn-sign {
            margin: 1rem;
            height: 6rem;
            width: 6rem;
            border: 5px solid #ffffff;
            background: #89C997;
            color: #ffffff;
            font-weight: bold;
            font-size: 1.3rem;
        }

        .meeting-card-btn-leave {
            margin: 1rem;
            height: 6rem;
            width: 6rem;
            border: 5px solid #ffffff;
            background: #F8B551;
            color: #ffffff;
            font-weight: bold;
            font-size: 1.3rem;
        }
    }
}

.leave-card {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;

    p {
        margin: 0;
        font-weight: bold;
    }

    .leave-card-reason {
        width: 100%;
        margin: 1rem 0;
    }

    .leave-card-explain {
        margin: 1rem 0;
    }

    .leave-card-btns {
        display: flex;
        justify-content: space-around;

        .leave-card-back {}

        .leave-card-commit {
            background: #45484E;
            color: #ffffff;
        }
    }
}

.hismetting-card {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;

    .hismetting-search {
        width: 100%;
        padding: 0 20%;
    }

    .hismetting-list {
        .hismetting-list-title {
            font-weight: bold;
        }

        span {
            span {
                margin: 0 1.5rem 0 0;
            }
        }

        .mygroup {
            background-color: #a9a9a9;
            border-radius: 5px;
            padding: 0 0.5rem;
            margin: 0 0.5rem;
            text-emphasis: none;
            color: #ffffff;
        }
        .mygroup:hover{
            background-color: #89C997;
        }
    }
}

.discuss {
    .discuss-badges {
        .ant-badge {
            margin: 0 0.5rem;
        }
    }

    .discuss-items {

        .discuss-item {
            text-emphasis: none;
            color: #000000;
            background-color: #ffffff;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1.5rem;
            margin: 0.5rem;

            .discuss-item-title {
                font-size: 1.2rem;
                font-weight: bold;
            }

            .discuss-item-content {
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 5rem;

                div {
                    display: flex;
                    flex-direction: column;
                }

                .discuss-item-text1 {}

                .discuss-item-text2 {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.report-card {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;

    .report-header {

        .report-icon {
            width: 60%;

            img {
                width: inherit;
            }
        }

        .report-basic {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;

            .report-basic-title {
                font-size: 1.5rem;
                font-weight: bold;
            }

            .report-basic-last {}
        }

        .report-btns {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .ant-row {
                display: flex;
                justify-content: center;
            }

            .report-btn-edit {
                line-height: 1.5rem;
                margin: 1rem;
                background: #45484E;
                color: #ffffff;
            }

            .report-btn-other {
                line-height: 1.5rem;
                margin: 1rem;
            }
        }
    }

    .report-content {}
}

.reportlist-card {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;

    .reportlist-select-header {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }

    .ant-collapse {
        border: none;

        .ant-collapse-item {
            border: none;
        }

        .ant-collapse-header {
            background: #eeeeee;
            border-radius: 10px !important;
        }

        .ant-collapse-content {
            border: none;
        }
    }

    .reportlist-item {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: #000000;
        border-bottom: 1px solid #d9d9d9;
        margin: 1rem;
        font-size: 1.2rem;

        .reportlist-item-name {
            font-weight: bold;
        }

        .reportlist-item-status {
            font-weight: bold;

            .yes {
                color: #89C997;
            }

            .yes:hover {
                text-shadow: 0 0 30px #89C997;
            }

            .no {
                color: #F8B551;
            }

            .no:hover {
                text-shadow: 0 0 30px #F8B551;
            }
        }
    }

    .reportlist-back {
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
    }
}

.mesbox {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;

    .mesbox-header {
        display: flex;
        justify-content: space-between;

        .mesbox-header-title {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .mesbox-header-filter {
            margin: 0 1rem;

            .mesbox-header-filterl {
                margin: 0 1rem;
            }

            .mesbox-header-filterr {
                margin: 0 1rem;
            }
        }
    }

    .mesbox-list {
        display: flex;
        flex-direction: column;

        .mesbox-item {
            padding: 0.5rem;
            margin: 0.5rem;
            cursor: pointer;

            .pot {
                text-align: center;
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: #F47272;
            }

            .mesbox-item-from {
                font-weight: bold;
            }
        }

        .mesbox-item:hover {
            background: #EEEEEE;
            border-radius: 5px;
            box-shadow: 0 0 10px #EEEEEE;
        }
    }

}