.editreport-title {
    font-size: 1.5rem;
    font-weight: bold;

    .md-rule {
        color: #a9a9a9;
        font-size: 1rem;
        margin: 0.5rem;
    }
}

.weekreport-md-container {
    height: 100%;
}

.rc-md-editor {
    min-height: 500px !important;
}

.editreport-tips {
    font-size: 0.8rem;
    color: #a9a9a9;
}

.editreport-btn-group {
    display: flex;
    justify-content: flex-end;

    .editreport-btn {
        margin: 0.5rem;
    }
}

.work-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
    cursor: default;
}

.work-space {
    display: flex;
    justify-content: space-between;

    .work-space-card,
    ::selection {
        color: #000000;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        background-color: #ffffff;
        cursor: pointer;

    }

    .work-space-card {
        span {
            font-size: 1.3rem;
            margin: 0.5rem auto;
        }

    }
}

.sign-card {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    .sign-card-t1 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;
    }

    .sign-card-psw {
        border-radius: 20px;
    }

    .sign-card-t2 {
        margin-top: 4rem;
        color: #a9a9a9;
        text-align: center;
    }

    .sign-card-btn {
        text-align: center;
        margin: 1rem;
    }
}

.sign-card-failed {
    background-color: #F56C6C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    .sign-card-icon {
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    p {
        color: #ffffff;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        margin: 0.5rem;
    }

    .sign-card-back {
        cursor: pointer;
        margin: 0 auto;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        line-height: 3.75rem;
        margin-top: 2rem;
        color: #F56C6C;
        background-color: #ffffff;
        width: 9.4rem;
        height: 3.75rem;
        border-radius: 43px;
    }
}


.sign-card-succeed {
    background-color: #89C997;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    .sign-card-icon {
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    p {
        color: #ffffff;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        margin: 0.5rem;
    }

    h4 {
        color: #ffffff;
        font-size: 1.3rem;
        text-align: center;
        margin: 0.5rem;
    }

    .sign-card-back {
        cursor: pointer;
        margin: 0 auto;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        line-height: 3.75rem;
        margin-top: 2rem;
        color: #89C997;
        background-color: #ffffff;
        width: 9.4rem;
        height: 3.75rem;
        border-radius: 43px;
    }
}